#about-main {
  margin-top: 6%;
  /* color: red; */
  display: flex;
  justify-items: center;
  /* align-items: center; */
  /* background-color: red; */
  
}
.about-info {
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
  /* background-color: red; */

}
h1 {
  font-size: 24px;
  font-weight: 600;
 
}
.about-info p {
  margin-bottom: 20px;
}
.about-img {
  flex: 1;
  /* background-color: blue; */
 
}
main div img {
  width: 60%;
  height: 300px;
  object-fit: cover;
  border-radius: 10%;
}